<div class="text-center mt-5" *ngIf='isLoading'>
  <app-spinner></app-spinner>
</div>
<div class="wrapper" *ngIf="!isLoading">
  <div class="row">
    <div class="col-md-3" *ngFor="let product of products; index as i">
      <div class="card mt-2 shadow">
        <img
          [src]="product.productImageURL"
          alt="product image"
          height="150px"
          width=""
          class="card-img-top"
          (click)='onSelectingProduct(product)'
        />
        <div class="card-body">
          <div>{{ product.productName }}</div>
          <div>Rs: {{ product.productPrice }}.00</div>
        </div>
        <div class="card-footer" *ngIf='this.auth.isAdmin()'>
          <button
            class="btn btn-outline-warning"
            data-toggle="modal"
            data-target="#editProductModal"
            (click)="onEdit(product)"
          >
            EDIT
          </button>
          <button
            class="btn btn-outline-danger float-right"
            (click)="deleteProduct(product._id)"
          >
            DELETE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit Form Modal -->
<div
  class="modal fade"
  id="editProductModal"
  tabindex="-1"
  aria-labelledby="editProductModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProductModalLabel">Edit Product</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center mt-5" *ngIf='isEditing'>
          <app-spinner></app-spinner>
        </div>
        <form #editProductForm="ngForm" *ngIf="selectedProductToEdit">
          <input
            type="hidden"
            name="_id"
            #_id="ngModel"
            [(ngModel)]="selectedProductToEdit._id"
          />
          <div class="form-group">
            <label for="productName">Product Name</label>
            <input
              type="text"
              #productName="ngModel"
              [(ngModel)]="selectedProductToEdit.productName"
              name="productName"
              id="productName"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="productPrice">Product Price</label>
            <input
              type="text"
              #productPrice="ngModel"
              [(ngModel)]="selectedProductToEdit.productPrice"
              name="productPrice"
              id="productPrice"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="productImageURL">Product Image URL</label>
            <input
              type="text"
              name="productImageURL"
              #productImage="ngModel"
              [(ngModel)]="selectedProductToEdit.productImageURL"
              id="productImageURL"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="productDescription">Production Description</label>
            <textarea
              name="productDescription"
              #productDescription="ngModel"
              [(ngModel)]="selectedProductToEdit.productDescription"
              id="productDescription"
              class="form-control"
            >
            </textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          #closeModal
        >
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="editProduct()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
