<div class="alert alert-danger" *ngIf="error">
  {{error}}
</div>
<div class="alert alert-success" *ngIf="message">
  {{message}}
</div>
<div class="col-md-4 offset-md-4 mt-4">
  <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
      <div class="form-group">
          <label for="fullName">Full Name</label>
          <input type="text" name="fullName"
          #fullName="ngModel" ngModel class="form-control" required minlength='3' pattern="^[a-zA-z]*$">
            <div *ngIf = "fullName.touched && fullName.invalid">
          <div *ngIf = "fullName.errors.required"
            class="alert alert-danger">
            This filed is Mandatory
            </div>
            <div *ngIf = "fullName.errors.pattern"
            class="alert alert-danger">
            number are not allowed
            </div>
            <div *ngIf = "fullName.errors.minlength && !fullName.errors.pattern"
            class="alert alert-danger">
            minimum 3 character is required
            </div>
          </div>

      </div>
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" #email="ngModel" ngModel
           class="form-control" required  pattern="[^@\s]+@[^@\s]+"  >
         <div *ngIf = "email.touched && email.invalid">
           <div *ngIf = "email.errors.required"
           class="alert alert-danger">
           This filed is Mandatory
           </div>
           <div *ngIf = "email.errors.pattern"
           class="alert alert-danger">
           invaild email
           </div>

        </div>

      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password"
          #password="ngModel" ngModel class="form-control" required>
          <div *ngIf = "email.touched && email.invalid">
            <div *ngIf = "email.errors.required"
            class="alert alert-danger">
            This filed is Mandatory
            </div>

         </div>
      </div>
      <div class="form-group">
          <label for="role">Role</label>
          <select name="role" class="form-control" #role="ngModel" ngModel required>
              <option value="admin">Admin</option>
              <option value="user">User</option>
          </select>
      </div>
      <button class="btn btn-primary float-right"
      type="submit" [disabled] = "registerForm.invalid">
          Register
      </button>
  </form>
</div>
